<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.human_developing_soft.productcalc">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@mipmap/product_logo"
        android:label="@string/app_name"
        android:name=".MainApp"
        android:fullBackupOnly="true"
        android:roundIcon="@mipmap/product_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProductCalc">
        <activity
            android:name="com.human_developing_soft.productcalc.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="locked"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>